NOTES 

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyc

# Virtual environments
env/
venv/
ENV/
.venv/
.env/
env.bak/
venv.bak/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/
*.pot
*.pdf
images/



# Python egg files
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Editor/IDE folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.swp
*.tmp

# macOS specific
.AppleDouble
.LSOverride

# Windows thumbnail cache
ehthumbs.db
Desktop.ini